<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>CPT-3</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid justify-content-center">
            <span class="navbar-brand mb-0 h1">CPT-3</span>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">1) Conversation with the patient</h1>
        <!--
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Option 1: Record conversation in the browser
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <p>Please make sure to enable permissions for recording audio.</p>
                        <div id="controls">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary" id="recordButton">Record</button>
                                <button type="button" class="btn btn-primary" id="pauseButton" disabled>Pause</button>
                                <button type="button" class="btn btn-primary" id="stopButton" disabled>Stop</button>
                            </div>
                        </div>
                        <div id="formats"></div>

                        <form id="recording">
                            <div id="audio" class="mb-3 mt-3">

                            </div>
                            <button id="upload" type="submit" class="btn btn-primary">Submit</button>

                        </form>


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Option 2: Upload recording of the conversation
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form>
                            <div class="mb-3">
                                <input class="form-control" type="file" id="formFile">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Option 3: Paste transcript of the conversation
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form>
                            <div class="mb-3">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary h-100">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Option 1: Record conversation in the browser</h4>
                    </div>
                    <div class="card-body">
                        <p align="left">Please make sure to enable permissions for recording audio.</p>
                        <div id="controls">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary" id="recordButton">Record</button>
                                <button type="button" class="btn btn-primary" id="pauseButton" disabled>Pause</button>
                                <button type="button" class="btn btn-primary" id="stopButton" disabled>Stop</button>
                            </div>
                        </div>
                        <div id="formats"></div>
                            <div id="audio" class="mb-3 mt-3">

                            </div>
                            <button id="upload" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm h-100">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Option 2: Upload recording of the conversation</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/" enctype="multipart/form-data">
                            <div class="mb-3">
                                <input class="form-control" type="file" name="audio_data" accept=".wav">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm h-100">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Option 3: Paste transcript of the conversation</h4>
                    </div>
                    <div class="card-body">
                        <form action="/" method="post">
                            <div class="mb-3">
                                <textarea class="form-control" id="textarea" name="text" rows="6">{% if text is defined %}{{ text }}{% endif %}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if ai_response is defined %}
            <h1 class="mt-5">2) GPT-3 Response</h1>
            <div class="row">
                <div class="col-12 text-right">
                    <form method="get" action="dataframe">
                        <button type="submit" class="btn btn-primary float-end">Export to CSV</button>
                    </form>
                </div>
            </div>
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Symptoms:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"
                              rows="{{ ai_response['Symptoms:']|length + 2 }}">{% for item in ai_response['Symptoms:'] %}- {{ item }}
                    {% endfor %}</textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea2" class="form-label">Diagnosis:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea2"
                              rows="{{ ai_response['Diagnosis:']|length + 2 }}">{% for item in ai_response['Diagnosis:'] %}- {{ item }}
                    {% endfor %}</textarea>
                </div>
                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Show ICD-10 Codes
                    </button>
                </p>
                <div class="collapse mb-3" id="collapseExample">
                    <div class="card card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Diagnosis</th>
                                <th scope="col">ICD-10 Code</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in icd_codes %}
                                <tr>
                                    <th scope="row">{{ row[0] }}</th>
                                    <td><a href="https://icdcodelookup.com/icd-10/codes/{{ row[1] }}"
                                           target="_blank">{{ row[1] }}</a></td>
                                    <td>{{ row[2] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea3" class="form-label">Treatment:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea3"
                              rows="{{ ai_response['Treatment:']|length + 2 }}">{% for item in ai_response['Treatment:'] %}- {{ item }}
                    {% endfor %}</textarea>
                </div>
            </form>
        {% endif %}
    </div>
</main>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->


<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/static/js/app.js"></script>

</body>
</html>